{% extends 'template.html.twig' %}

{% block body %}
    <h1>Offres list</h1>

    <table>
        <thead>
            <tr>
                <th>Titre</th>
                <th>Nomentreprise</th>
                <th>Nomskill</th>
                <th>Poste</th>
                <th>Typecontrat</th>
                <th>Salaire</th>
                <th>Duree</th>
                <th>Experiencerequis</th>
                <th>Lieu</th>
                <th>Responsabilites</th>
                <th>Pourquoinous</th>
                <th>Noustrouver</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for offre in offres %}
            <div>
                <h2>{{ offre.titre }}</h2>
                <h3>{{ offre.nomEntreprise }}</h3>
                <p>{% if offre.nomSkill %}{{ offre.nomSkill|join(', ') }}{% endif %}</p>
                <p>{{ offre.poste }}</p>
                <p>{{ offre.typeContrat }}</p>
                <p>{{ offre.salaire }}</p>
                <p>{{ offre.duree }}</p>
                <p>{{ offre.experienceRequis }}</p>
                <p>{{ offre.lieu }}</p>
                <p>{{ offre.responsabilites }}</p>
                <p>{{ offre.pourquoiNous }}</p>
                <p>{{ offre.nousTrouver }}</p>
                <p>
                    <ul>
                        <li>
                            <a href="{{ path('offre_show', { 'id': offre.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('offre_edit', { 'id': offre.id }) }}">edit</a>
                        </li>
                    </ul>
                </p>
            </div>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('offre_new') }}">Create a new offre</a>
        </li>
    </ul>
{% endblock %}
