{% extends 'template.html.twig' %}

{% block body %}
    <h1>Offre</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ offre.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ offre.titre }}</td>
            </tr>
            <tr>
                <th>Nomentreprise</th>
                <td>{{ offre.nomEntreprise }}</td>
            </tr>
            <tr>
                <th>Nomskill</th>
                <td>{% if offre.nomSkill %}{{ offre.nomSkill|join(', ') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Poste</th>
                <td>{{ offre.poste }}</td>
            </tr>
            <tr>
                <th>Typecontrat</th>
                <td>{{ offre.typeContrat }}</td>
            </tr>
            <tr>
                <th>Salaire</th>
                <td>{{ offre.salaire }}</td>
            </tr>
            <tr>
                <th>Duree</th>
                <td>{{ offre.duree }}</td>
            </tr>
            <tr>
                <th>Experiencerequis</th>
                <td>{{ offre.experienceRequis }}</td>
            </tr>
            <tr>
                <th>Lieu</th>
                <td>{{ offre.lieu }}</td>
            </tr>
            <tr>
                <th>Responsabilites</th>
                <td>{{ offre.responsabilites }}</td>
            </tr>
            <tr>
                <th>Pourquoinous</th>
                <td>{{ offre.pourquoiNous }}</td>
            </tr>
            <tr>
                <th>Noustrouver</th>
                <td>{{ offre.nousTrouver }}</td>
            </tr>
            <tr>
                <th>Userid</th>
                <td>{{ offre.userId }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        {% if is_granted('ROLE_RECRUTEUR') %}
            <li>
                <a href="{{ path('indexRecruteur') }}">Mes Offres</a>                
            </li>
        {% endif %}
        <li>
            <a href="{{ path('offre_index') }}">Nos offres</a>
        </li>
        <li>           
        </li>
{#        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>#}
    </ul>
{% endblock %}
