{% extends 'template.html.twig' %}

{% block title %}
    {{ parent() }}
    - offre detail
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
        <link rel="stylesheet" type="text/css" href="{{ asset('./css/mainOffres.css')}}" />
{% endblock%}

{% block body %}
<div class=" fond col-md-12 "> 
   
        <h1 >Offre Details</h1>
    </div>
    
    
<div class="container col-xs-12">
<div class="  col-xs-7 "style="background-color:#8D9489;">
      
                    <h2>Titre de l'Offre</h2>
		
                    <h3>{{ offre.titre }}</h3>
               
                
                    <h4>Chez</h4>
	
                    {{ offre.nomEntreprise }}
                    
                    <h4>Skills Rechercher</h4>
                    PHP JAVA PYTHON (codé en dur)
                    {% if offre.nomSkill %}{{ offre.nomSkill|join(', ') }}{% endif %}</td>
  <table class="table table-info">             
<thead>
      <tr>
        <th>Poste</th>
        <th>Type de Contrat</th>
        <th>Salaire</th>
        <th>Durée</th>
        <th>Experience</th>
        <th>Lieu</th>
      </tr>
    </thead>
    <tbody>
      <tr>
          <td>{{ offre.poste }}</td>
        <td>{{ offre.typeContrat }}</td>
        <td>{{ offre.salaire }}</td>
        <td>{{ offre.duree }}</td>
        <td>{{ offre.experienceRequis }}</td>
        <td>{{ offre.lieu }}</td>
      </tr>
</table>

                    <h4>Les Responsabilites</h4>

                    {{ offre.responsabilites }}
                 
                
                    <h4> Le Poste</h4>
                     Ceci est un exemple de texte codé en dur 
                     Procedente igitur mox tempore cum adventicium nihil inveniretur, 
                     relicta ora maritima in Lycaoniam adnexam Isauriae se contulerunt 
                     ibique densis intersaepientes itinera praetenturis provincialium et viatorum opibus pascebantur.
                     Ceci est un exemple de texte codé en dur 
                     Procedente igitur mox tempore cum adventicium nihil inveniretur, 
                     relicta ora maritima in Lycaoniam adnexam Isauriae se contulerunt 
                     ibique densis intersaepientes itinera praetenturis provincialium et viatorum opibus pascebantur.
                     Ceci est un exemple de texte codé en dur 
                     Procedente igitur mox tempore cum adventicium nihil inveniretur, 
                     relicta ora maritima in Lycaoniam adnexam Isauriae se contulerunt 
                     ibique densis intersaepientes itinera praetenturis provincialium et viatorum opibus pascebantur.
                    {{ offre.poste }}
                
                   <h4>Pourquoi Nous ?</h4>

                    {{ offre.pourquoiNous }}
               
                    <h4> Ou Nous Trouver</h4>

                    {{ offre.nousTrouver }}
           
                   {# <h4>Userid</h4>

                    {{ offre.userId }}
  #} 

</div>
<div class="  col-xs-4 col-xs-offset-1 info "style="background-color:#8D9489;">
      
                    <h2>Nom de L'Entreprise </h2>
		Google

               
                
                    <h4>Historique et Description</h4>
        Google est une entreprise américaine de services technologiques fondée en 1998 dans la Silicon Valley, en Californie, par Larry Page et Sergueï Brin, 
        créateurs du moteur de recherche Google. C'est une filiale de la société Alphabet depuis août 2015.
        <br>
        <input class="pull-right wtfbutton colorbouttton" type="button" value="Découvrir l'entreprise"/> 
                    
     
</div>
<div class="col-xs-4 col-xs-offset-1" style="background-color:#8D9489;" style="margin-bottom:15px;">
                
    <h4>Les offre qui pourront vous intéressé</h4>
                     Ceci est un exemple de texte codé en dur 
                     Procedente igitur mox tempore cum adventicium nihil inveniretur, 
                     relicta ora maritima in Lycaoniam adnexam Isauriae se contulerunt 
                     ibique densis intersaepientes itinera praetenturis provincialium et viatorum opibus pascebantur.
                     Ceci est un exemple de texte codé en dur 
                     Procedente igitur mox tempore cum adventicium nihil inveniretur, 
                     relicta ora maritima in Lycaoniam adnexam Isauriae se contulerunt 
                     ibique densis intersaepientes itinera praetenturis provincialium et viatorum opibus pascebantur.
                     Ceci est un exemple de texte codé en dur 
                     Procedente igitur mox tempore cum adventicium nihil inveniretur, 
                     relicta ora maritima in Lycaoniam adnexam Isauriae se contulerunt 
                     ibique densis intersaepientes itinera praetenturis provincialium et viatorum opibus pascebantur.
                    {{ offre.poste }}
                
                
                    <h4>Type de Contrat</h4>

                    {{ offre.typeContrat }}
                
                    <h4>Salaire</h4>

                    {{ offre.salaire }}
                
                    <h4>Durée</h4>

                    {{ offre.duree }}
              
                    <h4>Experience Requise</h4>

                    {{ offre.experienceRequis }}
               
                    <h4>Lieu</h4>

                    {{ offre.lieu }}
               
                    <h4>Les Responsabilites</h4>

                    {{ offre.responsabilites }}
               
                   <h4>Pourquoi Nous ?</h4>

                    {{ offre.pourquoiNous }}
                
                    <h4>Nous Trouver</h4>

                    {{ offre.nousTrouver }}
           
                   {# <h4>Userid</h4>

                    {{ offre.userId }}
  #} 
</div>



           
</div>
</div>

        <ul>
            {% if is_granted('ROLE_RECRUTEUR') %}
                <li>
                    <a href="{{ path('indexRecruteur') }}">Mes Offres</a>                
                </li>
            {% endif %}
            <li class="textRight">
                <a href="{{ path('offre_index') }}">Nos offres</a>
            </li>
    {#        <li>
                {{ form_start(delete_form) }}
                    <input type="submit" value="Delete">
                {{ form_end(delete_form) }}
            </li>#}
        </ul>
    </div>
</div>
{% endblock %}
