{% extends 'template.html.twig' %}

{% block body %}
    <h1>Candidat creation</h1>

    {{ form_start(form) }}
        {{ form_row(form.nom) }}
        {{ form_row(form.prenom) }}
        {{ form_row(form.dateNaissance, {'years': "caca"}) }}
        {{ form_row(form.age) }}
        {{ form_row(form.telephone) }}
        {{ form_row(form.adress) }}
        {{ form_row(form.codePostal) }}
        {{ form_row(form.email) }}
        {{ form_row(form.mdp) }}
        {{ form_row(form.description) }}
        {{ form_row(form.image) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}
    
    <a href="{{ path('recruteur_new')}}"> Vous etes recruteur ? </a>

{#    <ul>
        <li>
            <a href="{{ path('candidat_index') }}">Back to the list</a>
        </li>
    </ul>#}
{% endblock %}
