{% extends 'template.html.twig' %}

{% block title %}
    {{ parent ()}}
    - index recruteur
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('./css/indexProfilRecruteur.css')}}" />
{% endblock %}

{% block body %}    
    <div class="raw">
    <div class="container-fluid">
            <div class="couleurfond col-md-12">

                <h1 class="police text-position séparation"><i class="fa fa-address-card" aria-hidden="true"></i> Votre Profil</h1> 
                <table  class="col-md-12 table">
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Prenom</th>
                            <th>Entreprise</th>
                            <th>Email</th>
                                {#                            <th>Mdp</th>#}
                            <th>CodePostal</th>
                            <th>Description</th>
                            <th>Actions</th>
                                {#                        <th>Logo</th>#}
                                {#                        <th>Visite</th>
                                                        <th>Favori</th>
                                                        <th>Matchs</th>#}
                                {#                            <th>Role</th>#}
                                {#                        <th>SouhaitCandidat</th>#}
                        </tr>

                    </thead>
                    <tbody>
                        {% for recruteur in recruteurs %}
                            <tr>
                                {#                <td><a href="{{ path('recruteur_show', { 'id': recruteur.id }) }}">{{ recruteur.id }}</a></td>#}
                                <td>{{ recruteur.nom }}</td>
                                <td>{{ recruteur.prenom }}</td>
                                <td>{{ recruteur.entreprise }}</td>
                                <td>{{ recruteur.email }}</td>
                                {#                                <td>{{ recruteur.mdp }}</td>#}
                                <td>{{ recruteur.codePostal }}</td>
                                <td>{{ recruteur.description }}</td>
                                {#                                <td>{{ recruteur.logo }}</td>#}
                                {#                            <td>{{ recruteur.visite }}</td>
                                                            <td>{{ recruteur.favori }}</td>
                                                            <td>{{ recruteur.matchs }}</td>#}
                                {#                                <td>{% if recruteur.role %}{{ recruteur.role|join(', ') }}{% endif %}</td>#}
                                {#                            <td>{% if recruteur.souhaitCandidat %}{{ recruteur.souhaitCandidat|join(', ') }}{% endif %}</td>#}
                                <td>
                                    <ul>
                                        <li>
                                            <a class="btn btn-default btn-xs btn-block" href="{{ path('recruteur_edit', { 'id': recruteur.id }) }}">Editer</a>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table> 
            </div>


            <div class="col-md-12">
                <h1 class="police text-position séparation"><i class="fa fa-tags" aria-hidden="true"></i>Vos Offres</h1> 

                <table class="col-md-12 table">
                    <thead>
                        <tr>
                            {#                    <th>Id</th>#}
                            <th>Titre</th>
                            <th>Entreprise</th>
                                {#                    <th>Skill</th>#}
                            <th>Poste</th>
                            <th>Contrat</th>
                            <th>Salaire/mois</th>
                            <th>Durée</th>
                            <th>Experience requise</th>
                            <th>Lieu</th>
                            <th>Responsabilités</th>
                                {#                    <th>Pourquoinous</th>
                                                    <th>Noustrouver</th>
                                                    <th>Userid</th>#}
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% for offre in offres %}
                            <tr>
                                {#                        <td><a href="{{ path('offre_show', { 'id': offre.id }) }}">{{ offre.id }}</a></td>#}
                                <td>{{ offre.titre }}</td>
                                <td>{{ offre.nomEntreprise }}</td>
                                {#                        <td>{% if offre.nomSkill %}{{ offre.nomSkill|join(', ') }}{% endif %}</td>#}
                                <td>{{ offre.poste }}</td>
                                <td>{{ offre.typeContrat }}</td>
                                <td>{{ offre.salaire }}</td>
                                <td>{{ offre.duree }}</td>
                                <td>{{ offre.experienceRequis }}</td>
                                <td>{{ offre.lieu }}</td>
                                <td>{{ offre.responsabilites }}</td>
                                {#                        <td>{{ offre.pourquoiNous }}</td>
                                                        <td>{{ offre.nousTrouver }}</td>
                                                        <td>{{ offre.userId }}</td>#}
                                <td>
                                    <ul>
                                        <li>
                                            <a class="btn btn-default btn-xs btn-block" href="{{ path('offre_show', { 'id': offre.id }) }}">Détails</a>
                                        </li>
                                        <li>
                                            <a class="btn btn-default btn-xs btn-block" href="{{ path('offre_edit', { 'id': offre.id }) }}">Editer</a>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>    
            </div>
                    </div>
        <ul>
            <li>
                <a class="btn btn-default" href="{{ path('offre_new') }}"><i class="fa fa-plus-circle" aria-hidden="true"></i> Créer une nouvelle offre</a>
            </li>
        </ul>
    </div>
{% endblock %}