{% extends 'template.html.twig' %}

{% block title %}
    {{ parent() }}
    - inscription recruteur
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('./css/inscription.css')}}" />
{% endblock %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}
{% block body %}
    <div class="container-fluid inscritext">
        <div class="row">
            <div class="couleurfond col-md-12">
                <h1 class="police séparation2 text-position">Recruteur creation</h1>

                {{ form_start(form) }}
                    <div class="col-md-6">
                        {{ form_row(form.nom) }}
                        {{ form_row(form.prenom) }}
                        {{ form_row(form.entreprise) }} 
                        {{ form_row(form.email) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.mdp) }} 
                        {{ form_row(form.codePostal) }}
                        {{ form_row(form.description) }}
                        {{ form_row(form.logo) }}
                    </div>
                    
                    <input class="btn btn-info btn-sm col-md-2 noRadius colorbouttton pull-right col-xs-2" type="submit" value="S'enregistrer" />
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
