{% extends 'template.html.twig' %}

{% block body %}
    <h1>Recruteur</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ recruteur.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ recruteur.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ recruteur.prenom }}</td>
            </tr>
            <tr>
                <th>Entreprise</th>
                <td>{{ recruteur.Entreprise }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ recruteur.email }}</td>
            </tr>
            <tr>
                <th>Mdp</th>
                <td>{{ recruteur.mdp }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ recruteur.description }}</td>
            </tr>
            <tr>
                <th>Logo</th>
                <td>{{ recruteur.logo }}</td>
            </tr>
            <tr>
                <th>Visite</th>
                <td>{{ recruteur.visite }}</td>
            </tr>
            <tr>
                <th>Favori</th>
                <td>{{ recruteur.favori }}</td>
            </tr>
            <tr>
                <th>Matchs</th>
                <td>{{ recruteur.matchs }}</td>
            </tr>
            <tr>
                <th>DateInscription</th>
                <td>{{ recruteur.dateInscription }}</td>
            </tr>
            <tr>
                <th>Role</th>
                <td>{% if recruteur.role %}{{ recruteur.role|join(', ') }}{% endif %}</td>
            </tr>
            <tr>
                <th>SouhaitCandidat</th>
                <td>{% if recruteur.SouhaitCandidat %}{{ recruteur.SouhaitCandidat|join(', ') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('indexRecruteur') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('recruteur_edit', { 'id': recruteur.id }) }}">Edit</a>
        </li>
        <li>
{#            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}#}
        </li>
    </ul>
            
            
{% endblock %}
